<div class="w-[300px] h-[300px] bg-colorFondo2 rounded-xl">
  <img
    src="https://i.scdn.co/image/0bf3058d5efee0aee51a24d2cebe6b8162f2e552"
    alt="Artista"
    class="w-[100%] h-[200px] rounded-md object-cover"
  />
  <div class="p-4">
    <span class="text-xl font-bold"> Adam Levine </span>
    <div class="flex items-center gap-2">
      <mat-icon>event</mat-icon>
      <span> 12/12/2021 </span>
    </div>
    <div class="flex items-center gap-2">
      <mat-icon>location_on</mat-icon>
      <span> Ciudad de México </span>
    </div>
  </div>
</div>
