<div class="w-[300px] h-[300px] bg-colorFondo2 rounded-xl">
  <img
    [src]="evento?.url_foto"
    alt="Artista"
    class="w-[100%] h-[200px] rounded-md object-cover"
  />
  <div class="p-4">
    <span class="text-xl font-bold"> {{ evento?.titulo }} </span>
    <div class="flex items-center gap-2">
      <mat-icon>event</mat-icon>
      <span> {{ evento?.fecha }} </span>
    </div>
    <div class="flex items-center gap-2">
      <mat-icon>location_on</mat-icon>
      <span> {{ evento?.discoteca?.direc }} </span>
    </div>
  </div>
</div>
