<div class="flex flex-col p-8">
  <div class="flex items-center justify-between">
    <h3>Discotecas</h3>
    <button mat-raised-button (click)="toAdd()">
      <mat-icon>add</mat-icon>
      <span>Nuevo</span>
    </button>
  </div>
  <div class="relative mt-4 overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right">
      <thead class="text-xs text-white uppercase bg-colorFondo">
        <tr>
          <th scope="col" class="px-6 py-3">#</th>
          <th scope="col" class="px-6 py-3">Nombre</th>
          <th scope="col" class="px-6 py-3">Estado</th>
          <th scope="col" class="px-6 py-3">Acción</th>
        </tr>
      </thead>
      <tbody>
        @for (item of listDiscoteca; track $index) {
        <tr class="text-white bg-colorFondo2">
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
            {{ $index + 1 }}
          </th>
          <td class="px-6 py-4">{{ item.nombre }}</td>
          <td class="px-6 py-4">
            <span class="px-2 py-1 text-xs bg-green-500 rounded-full">
              Activo
            </span>
          </td>
          <td class="px-6 py-4">
            <button
              mat-icon-button
              matTooltip="Ver Detalle"
              (click)="toDetalle(item?.id)"
            >
              <mat-icon class="text-white">visibility_on</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon class="text-white">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>

              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
