<div class="flex flex-col items-center w-full h-screen py-4">
  <div
    class="sm:w-[500px] sm:bg-colorFondo p-6 sm:rounded-xl sm:shadow-xl gap-4"
  >
    <app-header />
    <div
      class="flex flex-col w-full h-screen pb-[120px] overflow-y-auto no-scrollbar"
    >
      <app-form />
      <app-redes-sociales />
      <app-horarios-atencion />
      <div>
        @if (service.isLoading()) {
        <div class="loader"></div>
        } @else {
        <button class="w-full mt-4 btn" (click)="service.save()">
          Guardar
        </button>
        }
      </div>
    </div>
  </div>
</div>
