<div
  class="fixed top-0 right-0 w-full sm:w-[300px] z-50 bg-colorFondo h-screen"
>
  <div class="flex flex-col items-center">
    <div class="w-full">
      <button mat-icon-button (click)="dismiss()">
        <mat-icon class="text-white">close</mat-icon>
      </button>
    </div>


    <img [src]="artista.url_foto" alt="">
    
    <div class="text-center">{{artista.nombre}}</div>
    <span>{{artista.tipo}}</span>

    <span>{{artista.descrip}}</span>

    @for (item of artista.redes; track $index) {
      <a [href]="item.url">Facebook</a>
    }

    <span>{{artista.tags}}</span>

    <img [src]="artista.url_foto2" alt="">

    <span>{{artista.biografia}}</span>
    
  </div>
</div>
