<div class="relative transition-transform">
  <div class="flex flex-col p-8">
    <!-- Cabecera -->
    <div class="flex items-center justify-between">
      <h3>Discotecas</h3>
      <button mat-raised-button (click)="toAdd()">
        <mat-icon>add</mat-icon>
        <span>Nuevo</span>
      </button>
    </div>

    <!-- Listado de Cards -->
    <div class="flex items-center justify-center">
      @if (service.isLoading()) {
      <div class="mt-10 loader"></div>
      } @else {
      <div
        class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        <!-- Card -->
        @for (item of service.listDiscoteca(); track $index) {
        <app-card-discoteca [discoteca]="item" (click)="showInfo(item)" />
        } @empty {
        <div class="text-center">No hay discotecas</div>
        }
      </div>
      }
    </div>
  </div>

  @if (service.showInfo()) {
  <app-drawer-info-discoteca
    [discoteca]="service.showInfo()"
    (dismiss)="dismiss()"
  />
  }
</div>
