<!-- Redes -->
<div class="flex items-center gap-4 mt-4">
  <span class="text-xl font-black">Redes Sociales</span>
  <button class="btn-icon-fab" type="button" (click)="showModalRedes()">
    <mat-icon class="text-white">add</mat-icon>
  </button>
</div>

<div class="relative mt-4 overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 rtl:text-right">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Red Social</th>
        <th scope="col" class="px-6 py-3">Url</th>
        <th scope="col" class="px-6 py-3">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of service.redes; track $index) {
      <tr class="bg-white border-b">
        <td class="px-6 py-4">{{ item.id_red }}</td>
        <td class="px-6 py-4">{{ item.url }}</td>
        <td class="px-6 py-4">
          <button type="button" mat-icon-button (click)="removeRed($index)">
            <mat-icon class="text-colorFondo">remove</mat-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
