<div class="flex flex-col gap-8 p-4">
    <div class="flex items-center gap-2">
      <span class="text-2xl font-bold">Crear Evento</span>
      <button mat-mini-fab class="fab-color">
        <mat-icon class="text-white">add</mat-icon>
      </button>
    </div>
    <div class="flex flex-wrap gap-4">
      <app-card-evento />
      <app-card-evento />
      <app-card-evento />
      <app-card-evento />
      <app-card-evento />
      <app-card-evento />
      <app-card-evento />
    </div>
  </div>
  